 {% extends 'main/base.html' %}
 {% load static %}
 

{% block content %}

{% if messages %}
    {% for message in messages %}
    <div class="alert alert-{{message.tags}}" role="alert">
    {{ message }}
    </div>
    {% endfor %}
{% endif %} 
 

    <div class="ps-page--simple">
        <div class="ps-section--shopping ps-shopping-cart">
            <div class="container" style="margin-top: -50px">
                <div class="ps-section__header">
                    <h1>Your Shopping Cart</h1>
                </div>
                <div class="ps-section__content" style="margin-top: -115px">
                    <div class="table-responsive">
                        <table class="table">
                            <thead style="background-color: #3c3c3c">
                                <br>
                                <tr style="color: #fff">
                                    <th>PRODUCT(S)</th>
                                    <th>PRICE</th>
                                    <th>QUANTITY</th>
                                    <th></th>
                                </tr>
                                <br>
                            </thead>
                            <tbody>
                                <br><br>
                            	{% if product_quantitys %}
                               
                                	{% for item in product_quantitys %}
                                	<tr style="background-color: #f2f2f2;">
                                    <td>
                                        <div class="ps-product--cart">
                                            <div class="ps-product__thumbnail"><a href="{% url 'product:product_detail' item.product.slug %}"><img src="{{ item.product.image_1.url }}" alt=""></a></div>
                                            <div class="ps-product__content"><a href="{% url 'product:product_detail' item.product.slug %}">{{ item.product.name }}</a>
                                                
                                            </div>
                                        </div>
                                    </td>

                                    <td class="price" style="padding-top: 25px">₦{{ item.product.price }}</td>
                                    <td style="padding-top: 25px">
                                    	<strong>{{ item.quantity }}</strong>
                                    </td>
                                    <td style="padding-top: 25px"><a href="{% url 'cart:remove_product_cart' item.product.slug %}"><i class="icon-cross"></i></a></td>


									</tr>

                                    {% endfor %}
                                   
                                    {% else %}
                                    	<tr>
                                    	<td>Nothing yet!</td>
                                    	<td>Nothing yet!</td>
                                    	<td>Nothing yet!</td>
                                    	<td></td>
                                    	</tr>
                                    {% endif %}
                                
                             </tbody>
                        </table>
                        
                    </div>
                    <div class="ps-section__cart-actions"><a class="ps-btn" href="{% url 'product:all_products' %}"><i class="icon-arrow-left"></i> Back to Shop</a></div>
                </div>
                <div class="ps-section__footer">
                    <div class="row">
                        <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12 ">
                            <div class="ps-block--shopping-total">
                                <div class="ps-block__header">
                                    <p>Your Items<span>{{ product_quantitys.product.count }}</span></p>
                                </div>
                                <div class="ps-block__content">
                                    <ul class="ps-block__product">
                                    	{% if product_quantitys %}
                                    		{% for item in product_quantitys %}
                                        		<li><span class="ps-block__shops">Name: {{ item.product.name }}</span><span class="ps-block__shippings">Quanity: {{ item.quantity }}</span><span class="ps-block__shippings">Price: ₦{{ item.product.price }}</span><span class="ps-block__shippings">Shipping Charge: ₦{{ item.total_shipping_charge }}</span>
                                        		</li>
                                        	{% endfor %}
                                        {% else %}
                                        	<li>Sorry, Nothing Yet!</li>
                                        {% endif %}
                                    </ul>
                                    <h3>Total<span> ₦{{ total_price }}</span></h3>
                                </div>
                            </div>
                            
                            {% if total_price == 0 %}
                            	<a class="ps-btn ps-btn--fullwidth" href="{% url 'main:index' %}">Visit Store</a>
                            {% else %}
                            	<a class="ps-btn ps-btn--fullwidth" href="{% url 'checkout:checkout' %}">Proceed to checkout</a>
                            {% endif %}    	
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    
    
    
    <div class="ps-product-list ps-clothings">
            <div class="ps-container">
            		<div class="ps-section__header">
		                <h3>You may also buy some of these.</h3>
		            </div>
                    <div class="ps-section__content">
                    <div class="ps-carousel--nav owl-slider" data-owl-auto="false" data-owl-loop="false" data-owl-speed="10000" data-owl-gap="0" data-owl-nav="true" data-owl-dots="true" data-owl-item="7" data-owl-item-xs="2" data-owl-item-sm="2" data-owl-item-md="3" data-owl-item-lg="4" data-owl-item-xl="6" data-owl-duration="1000" data-owl-mousedrag="on">
                    	{% if section_two %}
                    		{% for item in section_two %}
				                <div class="ps-product">
				                    <div class="ps-product__thumbnail"><a href="{% url 'product:product_detail' item.slug %}"><img src="{{ item.image_1.url }}" alt=""></a>
				                        <div class="ps-product__badge"><div class="ps-product__badge" style="background-color: {{ item.tag_title_color }}">{{ item.tag_title }}</div></div>
				                        <ul class="ps-product__actions">
				                            <li><a href="{% url 'cart:add_product_to_cart' item.slug %}" data-toggle="tooltip" data-placement="top" title="Add to cart"><i class="icon-bag2"></i></a></li>
				                            <li><a href="#" data-placement="top" title="Quick View" data-toggle="modal" data-target="#{{ item.slug }}"><i class="icon-eye"></i></a></li>
				                            <li><a href="{% url 'product:product_detail' item.slug %}" data-toggle="tooltip" data-placement="top" title=""><i class="icon-heart"></i></a></li>
				                            <li><a href="{% url 'product:product_detail' item.slug %}" data-toggle="tooltip" data-placement="top" title=""><i class="icon-chart-bars"></i></a></li>
				                        </ul>
				                    </div>
				                    <div class="ps-product__container"><a class="ps-product__vendor" href="#">{{ item.category }}</a>
				                        <div class="ps-product__content"><a class="ps-product__title" href="{% url 'product:product_detail' item.slug %}">{{ item.name }}</a>
				                            <div class="ps-product__rating">
				                                <select class="ps-rating" data-read-only="true">
				                                    <option value="1">1</option>
				                                    <option value="1">2</option>
				                                    <option value="1">3</option>
				                                    <option value="1">4</option>
				                                    <option value="2">5</option>
				                                </select><span>01</span>
				                            </div>
				                            <p class="ps-product__price sale">₦{{ item.price }} <del>₦{{ item.old_price }} </del></p>
				                        </div>
				                        <div class="ps-product__content hover"><a class="ps-product__title" href="{% url 'product:product_detail' item.slug %}">{{ item.name }}</a>
				                            <p class="ps-product__price sale">₦{{ item.price }} <del>₦{{ item.old_price }} </del></p>
				                        </div>
				                    </div>
				                </div>
				                
				             {% endfor %}
				             
				          {% else %}
				          		 <div class="ps-product">
				          		 	<p>Sorry, Nothing yet!</p>
				          		 </div>
				         	{% endif %}
                    </div>
                </div>
            </div>
        </div>
        
         </div>
    </div>
    
    
  {% endblock %}
