 {% extends 'main/base.html' %}
{% load static %}
  


{% block content %}
<div class="container text-centers">
	<br><br> 
    <div class="row container">
      <br />
      <p>Welcome to the Payment Page. We have verified your order list and added the shipping cost to the cost of items in your cart. we will need you to forward your unique order ID to us, after payment, so we can track your transaction and get your order ready for delivery. The accepted payment method is the bank transfer method. The details of the receiving account is on your screen. Call us if there is anything you want us to clarify.</p>
    </div>
    <br />
    <br />
        <div class="row container">

          <div class="card col-xl-6 col-lg-6 col-md-6 col-sm-12">
            <div class="ps-form__total">
              <br>
                <h3 class="ps-form__heading" style="text-align: left; color: #666;">Your Order with Shipping Fee!</h3>
                <div class="content">
                    <div class="ps-block--checkout-total">
                        <div class="ps-block__header">
                        </div>
                        <div class="ps-block__content">
                            <table class="table ps-block__products container">
                                <tbody style="text-align: left;">
                                  {% if shippings_product_quantitys %}
                                    <ul style="text-align: left;">
                                    {% for item, shipping in shippings_product_quantitys %}
                                            
                                                <li>
                                                    <small>Name: {{ item.product.name }}</small><br />
                                                </li>
                                                <li>
                                                    <small>Quantity: {{ item.quantity }}</small><br />
                                                </li>
                                                <li>
                                                    <small>Price: {{ item.product.price }}</small><br />
                                                </li>
                                                <li>
                                                    <small>Shipping Charge: {{ shipping }}</small><br />
                                                </li>

                                                <hr>

                                  {% endfor %}
                                  
                                  {% else %}
                                     <tr>
                                        <td>
                                          <p>Sorry, Nothing Yet!</p>
                                        </td>
                                       </tr>
                                            </ul>
                                  {% endif %}
                                </tbody>
                            </table>
                            <h3 style="text-align: left; color:  #666;">Total <span>₦{{ total_price }}</span></h3>
                            <br />
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="card col-xl-6 col-lg-6 col-md-6 col-sm-12" style="text-align: left;">
          <div class="ps-form__total">
              <br>
          <p>

            <b style="font-size: 26px; margin-top: 35px">Make Payments to:</b>
            <br />
            <strong>Bank:</strong> Zenith Bank
            <br />
            <strong>Account Name:</strong> Interior Woodwork Limited.
            <br />
            <strong>Account Number:</strong> 0123 332 232
            <br />
            <br />
            <br />
            <strong style="font-size: 26px;">Order Id: {{ app_user.order_id }}</strong>
          </p>
          <p><br>You may proceed to make payment, so we can process your order.<br />We are also open to answer your questions; <br /><br />Contact us: <a href="tel:+2348099999068"><h2 style="color: #666;">(+234) 809 999 9068</h2></a></p>
          <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <br><br> 
          <button class="ps-btn col-md-6 col-sm-12">Complete!</button> 
          <br><br> 
          <p>Why choose the transfer option? It’s true, a couple of persons will want to ask this question. We want to intimate you with the fact that over the years, we have gathered from our transactions with clients that; paying via transfer is the safest. You will not have to expose your card information and other sensitive details that can grant a third party or any fraudster the opportunity to exploit you. We are not just interested in your satisfaction, but also want to build a bid of trust and integrity with you. </p>
        </form>


        </div>

      </div>

  </div>
</div>
<br><br><br>
<hr>


{% endblock %}