 {% extends 'main/base.html' %}
{% load static %}
  


{% block content %}
<div class="container text-center">
	<br><br> 
    <div class="row container">
      <br />
      <p>Note: Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
      quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
      consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
      cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
      proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </div>
    <br />
    <br />
        <div class="row container">

          <div class="card col-xl-6 col-lg-6 col-md-6 col-sm-12">
            <div class="ps-form__total">
                <h3 class="ps-form__heading">Your Order with Shipping Fee!</h3>
                <div class="content">
                    <div class="ps-block--checkout-total">
                        <div class="ps-block__header">
                        </div>
                        <div class="ps-block__content">
                            <table class="table ps-block__products container">
                                <tbody>
                                  {% if shippings_product_quantitys %}
                                    <ul>
                                    {% for item, shipping in shippings_product_quantitys %}
                                            
                                                <li>
                                                    <small>Name: {{ item.product.name }}</small><br />
                                                </li>
                                                <li>
                                                    <small>Quantity: {{ item.quantity }}</small><br />
                                                </li>
                                                <li>
                                                    <small>Price: {{ item.product.price }}</small><br />
                                                </li>
                                                <li>
                                                    <small>Shipping Charge: {{ shipping }}</small><br />
                                                </li>

                                                <hr>

                                  {% endfor %}
                                  
                                  {% else %}
                                     <tr>
                                        <td>
                                          <p>Sorry, Nothing Yet!</p>
                                        </td>
                                       </tr>
                                            </ul>
                                  {% endif %}
                                </tbody>
                            </table>
                            <h3>Total <span>₦{{ total_price }}</span></h3>
                            <br />
                        </div>
                    </div>
                </div>
            </div>
        </div>


                           

        <div class="card col-xl-6 col-lg-6 col-md-6 col-sm-12"> 

          <p>
            Make Payments to:
            <br />
            Bank: Zenith Bank
            <br />
            Account Name: Interior Woodwork Limited.
            <br />
            Account Number: 0123 332 232
            <br />
            <br />
            <br />
            Order Id: {{ app_user.order_id }}
          </p>
          <br />
          <p><br>You may proceed to make payment, so we can process your order.<br />We are also open to answer your questions; <br /><br />Contact us: <a href="tel:+2348099999068"><h2>(+234) 809 999 9068</h2></a></p>
          <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <br><br> 
          <button class="ps-btn col-md-6 col-sm-12">Complete!</button> 
          <br><br> 
          <p>Note: Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
            cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
            proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </form>


        </div>

      </div>

  </div>
</div>
<br><br><br>
<hr>


{% endblock %}