{% extends 'main/base.html' %}
{% load static %}

{% block content %}

<div class="ps-page--shop">
        <div class="ps-containers">

			

                    <div class="ps-shopping ps-tab-root">
                        <div class="ps-shopping__header">
                            <p><strong>{{ page_title }}</strong></p>
                            <div class="ps-shopping__actions">
                                <select class="ps-select" data-placeholder="Sort Items">
                                    <option>Sort by latest</option>
                                    <option>Sort by popularity</option>
                                    <option>Sort by average rating</option>
                                    <option>Sort by price: low to high</option>
                                    <option>Sort by price: high to low</option>
                                </select>
                                <div class="ps-shopping__view">
                                    <p>View</p>
                                    <ul class="ps-tab-list">
                                        <li class="active"><a href="#tab-1"><i class="icon-grid"></i></a></li>
                                        <li><a href="#tab-2"><i class="icon-list4"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="ps-tabs">
                            <div class="ps-tab active" id="tab-1">
                                <div class="container">
                                    <p>Note: Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                                    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                                    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                                    proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                                </div>
                                <div class="ps-container ps-shopping-product">
                                    <div class="row">
                                    	{% if products %}
                                    		{% for item in products %}
				                                <div class="col-xl-2 col-lg-4 col-md-4 col-sm-6 col-6 ">
				                                    <div class="ps-product">
				                                        <div class="ps-product__thumbnail"><a href="{% url 'product:product_detail' item.slug %}"><img src="{{ item.image_1.url }}" alt=""></a>
				                                        	<div class="ps-product__badge" style="background-color: {{ item.tag_title_color }}">{{ item.tag_title }}</div>
				                                           <ul class="ps-product__actions">
														        <li><a href="{% url 'cart:add_product_to_cart' item.slug %}" data-toggle="tooltip" data-placement="top" title="Add to cart"><i class="icon-bag2"></i></a></li>
														        <li><a href="#" data-placement="top" title="Quick View" data-toggle="modal" data-target="#{{ item.slug }}"><i class="icon-eye"></i></a></li>
														        <li><a href="{% url 'product:product_detail' item.slug %}" data-toggle="tooltip" data-placement="top" title=""><i class="icon-heart"></i></a></li>
														        <li><a href="{% url 'product:product_detail' item.slug %}" data-toggle="tooltip" data-placement="top" title=""><i class="icon-chart-bars"></i></a></li>
														    </ul>
				                                        </div>
				                                        <div class="ps-product__container"><a class="ps-product__vendor" href="#">{{ item.category }}</a>
				                                            <div class="ps-product__content"><a class="ps-product__title" href="{% url 'product:product_detail' item.slug %}">{{ item.name }}</a>
				                                                <p class="ps-product__price"> ₦{{ item.price }}</p>
				                                            </div>
				                                            <div class="ps-product__content hover"><a class="ps-product__title" href="{% url 'product:product_detail' item.slug %}">{{ item.name }}</a>
				                                                <p class="ps-product__price"> ₦{{ item.price }}</p>
				                                            </div>
				                                        </div>
				                                    </div>
				                                </div>
				                                
				                              {% endfor %}
				                              
				                             {% else %}
                                        		<div class="col-xl-2 col-lg-4 col-md-4 col-sm-6 col-6 ">
                                        			<p>Sorry, Nothing Yet!</p>
                                        		</div>
                                        	{% endif %}

                                    </div>
                                </div>
                            </div>
                            <div class="ps-tab" id="tab-2">
                                <div class="container ps-shopping-product">
                                	{% if products %}
                                    		{% for item in products %}
						                        <div class="ps-product ps-product--wide">
						                            <div class="ps-product__thumbnail"><a href="{% url 'product:product_detail' item.slug %}"><img src="{{ item.image_1.url }}" alt=""></a>
						                            </div>
						                            <div class="ps-product__container">
						                                <div class="ps-product__content"><a class="ps-product__title" href="{% url 'product:product_detail' item.slug %}">{{ item.name }}</a>
						                                    <p class="ps-product__vendor">Sold by:<a href="#">{{ item.category }}</a></p>
						                                    <ul class="ps-product__desc">
						                                        <li>{{ item.description }}</li>
						                                        <li>{{ item.specification }}</li>
						                                    </ul>
						                                </div>
						                                <div class="ps-product__shopping">
						                                    <p class="ps-product__price"> ₦{{ item.price }}</p><a class="ps-btn" href="{% url 'cart:add_product_to_cart' item.slug %}">Add to cart</a>
						                                    <ul class="ps-product__actions">
						                                        <li><a href="#"><i class="icon-heart"></i> Wishlist</a></li>
						                                        <li><a href="#"><i class="icon-chart-bars"></i> Compare</a></li>
						                                    </ul>
						                                </div>
						                            </div>
						                        </div>
						                     {% endfor %}
						                     
						                     {% else %}
						                     	<div class="ps-product ps-product--wide">
						                     		<p>Sorry, Nothing Yet!</p>
						                     	</div>
						                    {% endif %}

                                </div>
                                <div class="row">
                                    <p class="container">Note: Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                                    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                                    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                                    proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal" id="shop-filter-lastest" tabindex="-1" role="dialog">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-body">
                            <div class="list-group"><a class="list-group-item list-group-item-action" href="#">Sort by</a><a class="list-group-item list-group-item-action" href="#">Sort by average rating</a><a class="list-group-item list-group-item-action" href="#">Sort by latest</a><a class="list-group-item list-group-item-action" href="#">Sort by price: low to high</a><a class="list-group-item list-group-item-action" href="#">Sort by price: high to low</a><a class="list-group-item list-group-item-action text-center" href="#" data-dismiss="modal"><strong>Close</strong></a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}


