{% extends 'main/base.html' %}
{% load static %}


{% block content %}

    <div class="ps-panel--sidebar" id="navigation-mobile">
        <div class="ps-panel__header">
            <h3>Categories</h3>
        </div>
        <div class="ps-panel__content">
            <ul class="menu--mobile">
                <li><a href="{% url 'main:category' 'living_room' %}"> Living Room</a>
                </li>
                <li><a href="{% url 'main:category' 'kitchen' %}"> Kitchen</a>
                </li>
                <li><a href="{% url 'main:category' 'bedroom' %}"> Bedroom</a>
                </li>
                <li><a href="{% url 'main:category' 'office' %}"> Office</a>
                </li>
                <li><a href="{% url 'main:category' 'sofa' %}"> Sofa</a>
                </li>
                <li><a href="{% url 'main:category' 'wardrobe' %}"> Wardrobes</a>
                </li>
                <li><a href="{% url 'main:category' 'center_table' %}"> Center Tables</a>
                </li>
                <li><a href="{% url 'main:category' 'stool' %}"> Stools</a>
                </li>
                <li><a href="{% url 'main:category' 'wall_partition' %}"> Wall Partition</a>
                </li>
                <li><a href="{% url 'main:category' 'bed' %}"> Beds</a>
                </li>
                <li><a href="{% url 'main:category' 'dining' %}"> Dining</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="ps-page--shop" id="shop-sidebar">
        <div class="container">
            <div class="ps-layout--shop">
                <div class="ps-layout__left">
                    <aside class="widget widget_shop">
                        <h4 class="widget-title">Categories</h4>
                        <ul class="ps-list--categories">
                             <li><a href="{% url 'main:category' 'living_room' %}"> Living Room</a>
                            </li>
                            <li><a href="{% url 'main:category' 'kitchen' %}"> Kitchen</a>
                            </li>
                            <li><a href="{% url 'main:category' 'bedroom' %}"> Bedroom</a>
                            </li>
                            <li><a href="{% url 'main:category' 'office' %}"> Office</a>
                            </li>
                            <li><a href="{% url 'main:category' 'sofa' %}"> Sofa</a>
                            </li>
                            <li><a href="{% url 'main:category' 'wardrobe' %}"> Wardrobes</a>
                            </li>
                            <li><a href="{% url 'main:category' 'center_table' %}"> Center Tables</a>
                            </li>
                            <li><a href="{% url 'main:category' 'stool' %}"> Stools</a>
                            </li>
                            <li><a href="{% url 'main:category' 'wall_partition' %}"> Wall Partition</a>
                            </li>
                            <li><a href="{% url 'main:category' 'bed' %}"> Beds</a>
                            </li>
                            <li><a href="{% url 'main:category' 'dining' %}"> Dining</a>
                            </li>
                        </ul>
                    </aside>
                    <aside class="widget widget_shop">
                        <h4 class="widget-title">Filter</h4>
                            <hr>
                            <br />
                            
                        <form method="post">
                            {% csrf_token %}
                          <figure>
                            <h4 class="widget-title">By Rating</h4>
                            <div class="ps-checkbox">
                                <input class="form-control" type="checkbox" value="5" id="review-1" name="review">
                                <label for="review-1"><span><i class="fa fa-star rate"></i><i class="fa fa-star rate"></i><i class="fa fa-star rate"></i><i class="fa fa-star rate"></i><i class="fa fa-star rate"></i></span><small>(5)</small></label>
                            </div>
                            <div class="ps-checkbox">
                                <input class="form-control" type="checkbox" value="4" id="review-2" name="review">
                                <label for="review-2"><span><i class="fa fa-star rate"></i><i class="fa fa-star rate"></i><i class="fa fa-star rate"></i><i class="fa fa-star rate"></i><i class="fa fa-star"></i></span><small>(4)</small></label>
                            </div>
                            <div class="ps-checkbox">
                                <input class="form-control" type="checkbox" value="3" id="review-3" name="review">
                                <label for="review-3"><span><i class="fa fa-star rate"></i><i class="fa fa-star rate"></i><i class="fa fa-star rate"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></span><small>(3)</small></label>
                            </div>
                            <div class="ps-checkbox">
                                <input class="form-control" type="checkbox" value="2" id="review-4" name="review">
                                <label for="review-4"><span><i class="fa fa-star rate"></i><i class="fa fa-star rate"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></span><small>(2)</small></label>
                            </div>
                            <div class="ps-checkbox">
                                <input class="form-control" type="checkbox" value="1" id="review-5" name="review">
                                <label for="review-5"><span><i class="fa fa-star rate"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></span><small>(1)</small></label>
                            </div>
                        </figure>
                        

                        <figure>
                            <h4 class="widget-title">By Price</h4>
                                <div class="deque-slider-multirange horizontal">
                                  <span id="label"></span>
                                  <div>
                                    <label>
                                      min
                                      <input style="font-size: 10px;" name="min_value" type="number">
                                    </label>
                                    <div class="slider" style="height: 2px; width: 200px;">
                                      <button class="minPrice" 
                                      role="slider"
                                      aria-valuemin="120000"
                                      aria-valuemax="750000"
                                      aria-orientation="horizontal"
                                      aria-label="Min Price"
                                      aria-valuenow="220000"
                                      data-increment="10000">
                                      </button>
                                      <button class="maxPrice"
                                      role="slider"
                                      aria-valuemin="150000"
                                      aria-valuemax="450000"
                                      aria-orientation="horizontal"
                                      aria-label="Max Price"
                                      aria-valuenow="360000"
                                      data-increment="10000">
                                      </button>
                                    </div>
                                    <label>
                                      max
                                      <input style="font-size: 10px;" name="max_value" type="number">
                                    </label>
                                  </div>
                                  <div id="alertRegion"></div>
                                </div>

                           </figure>
                            

                         <figure>
                            <h4 class="widget-title">By Availability</h4>
                            <select name="availability" class="form-control">
                                    <option value="in_stock">In Stock</option>
                                  <option value="out_of_stock">Out of Stock</option>
                            </select>
                         
                         
                         
                          </figure>
                         
                       

                        <figure>
                            <h4 class="widget-title">By Color</h4>
                            <div class="ps-checkbox ps-checkbox--color color-1 ps-checkbox--inline">
                                <input class="form-control" type="checkbox" value="color-1" id="color-1" name="colors">
                                <label for="color-1"></label>
                            </div>
                            <div class="ps-checkbox ps-checkbox--color color-2 ps-checkbox--inline">
                                <input class="form-control" type="checkbox" value="color-2" id="color-2" name="colors">
                                <label for="color-2"></label>
                            </div>
                            <div class="ps-checkbox ps-checkbox--color color-3 ps-checkbox--inline">
                                <input class="form-control" type="checkbox" value="color-3" id="color-3" name="colors">
                                <label for="color-3"></label>
                            </div>
                            <div class="ps-checkbox ps-checkbox--color color-4 ps-checkbox--inline">
                                <input class="form-control" type="checkbox" value="color-4" id="color-4" name="colors">
                                <label for="color-4"></label>
                            </div>
                            <div class="ps-checkbox ps-checkbox--color color-5 ps-checkbox--inline">
                                <input class="form-control" type="checkbox" value="color-5" id="color-5" name="colors">
                                <label for="color-5"></label>
                            </div>
                            <div class="ps-checkbox ps-checkbox--color color-6 ps-checkbox--inline">
                                <input class="form-control" type="checkbox" value="color-6" id="color-6" name="colors">
                                <label for="color-6"></label>
                            </div>
                            <div class="ps-checkbox ps-checkbox--color color-7 ps-checkbox--inline">
                                <input class="form-control" type="checkbox" value="color-7" id="color-7" name="colors">
                                <label for="color-7"></label>
                            </div>
                            <div class="ps-checkbox ps-checkbox--color color-8 ps-checkbox--inline">
                                <input class="form-control" type="checkbox" value="color-8" id="color-8" name="colors">
                                <label for="color-8"></label>
                            </div>
                        </figure>
                        
                        <div class="form-group submit">
                            <button class="ps-btn">Go</button>
                        </div>
                        
                        </form>
                    </aside>
                </div>
                <div class="ps-layout__right">
                    <div class="ps-page__header">
                        <h1>Explore our Furniture Shop</h1>
                        <div class="ps-carousel--nav-inside owl-slider" data-owl-auto="true" data-owl-loop="true" data-owl-speed="5000" data-owl-gap="0" data-owl-nav="true" data-owl-dots="true" data-owl-item="1" data-owl-item-xs="1" data-owl-item-sm="1" data-owl-item-md="1" data-owl-item-lg="1" data-owl-duration="1000" data-owl-mousedrag="on"><a href="shop-default.html"><img src="{% static 'main/img/gn1.png' %}" alt=""></a><a href="shop-default.html"><img src="{% static 'main/img/gn2.png' %}" alt=""></a><a href="shop-default.html"><img src="{% static 'main/img/gn3.png' %}" alt=""></a></div>
                    </div>
                    <div class="ps-block--shop-features">
                        <div class="ps-block__header">
                            <h3>Top Categories:</h3>
                            <div class="ps-block__navigation"><a class="ps-carousel__prev" href="#bestsale"><i class="icon-chevron-left"></i></a><a class="ps-carousel__next" href="#bestsale"><i class="icon-chevron-right"></i></a></div>
                        </div>
                        <div class="ps-block__content">
                            <div class="owl-slider" id="bestsale" data-owl-auto="true" data-owl-loop="true" data-owl-speed="10000" data-owl-gap="30" data-owl-nav="false" data-owl-dots="false" data-owl-item="4" data-owl-item-xs="2" data-owl-item-sm="2" data-owl-item-md="2" data-owl-item-lg="3" data-owl-item-xl="4" data-owl-duration="1000" data-owl-mousedrag="on">
                                <div class="ps-product">
                                    <div class="ps-product__thumbnail"><a href="{% url 'main:category' 'living_room' %}"><img src="img/products/shop/best/1.jpg" alt=""></a>
                                    </div>
                                    <div class="ps-product__container"><a class="ps-product__vendor" href="{% url 'main:category' 'living_room' %}">Living Room</a>
                                    </div>
                                </div>
                                <div class="ps-product">
                                    <div class="ps-product__thumbnail"><a href="{% url 'main:category' 'kitchen' %}"><img src="img/products/shop/best/1.jpg" alt=""></a>
                                    </div>
                                    <div class="ps-product__container"><a class="ps-product__vendor" href="{% url 'main:category' 'kitchen' %}">Kitchen</a>
                                    </div>
                                </div>
                                <div class="ps-product">
                                    <div class="ps-product__thumbnail"><a href="{% url 'main:category' 'bedroom' %}"><img src="img/products/shop/best/1.jpg" alt=""></a>
                                    </div>
                                    <div class="ps-product__container"><a class="ps-product__vendor" href="{% url 'main:category' 'bedroom' %}">Bedroom</a>
                                    </div>
                                </div>
                                <div class="ps-product">
                                    <div class="ps-product__thumbnail"><a href="{% url 'main:category' 'office' %}"><img src="img/products/shop/best/1.jpg" alt=""></a>
                                    </div>
                                    <div class="ps-product__container"><a class="ps-product__vendor" href="{% url 'main:category' 'office' %}">Office</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                        <br />
                        <br />
                        <p class="containers">Note: Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                        <br />
                        <br />

                    <div class="ps-shopping ps-tab-root">
                        <div class="ps-shopping__header">
                            <p><strong> Random</strong> Furniture for you!</p>
                            <div class="ps-shopping__actions">
                                <select class="ps-select" data-placeholder="Sort Items">
                                    <option>Sort by latest</option>
                                    <option>Sort by popularity</option>
                                    <option>Sort by average rating</option>
                                    <option>Sort by price: low to high</option>
                                    <option>Sort by price: high to low</option>
                                </select>
                                <div class="ps-shopping__view">
                                    <p>View</p>
                                    <ul class="ps-tab-list">
                                        <li class="active"><a href="#tab-1"><i class="icon-grid"></i></a></li>
                                        <li><a href="#tab-2"><i class="icon-list4"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="ps-tabs">
                            <div class="ps-tab active" id="tab-1">
                                <div class="ps-container ps-shopping-product">
                                    <div class="row">
                                        {% if products %}
                                            {% for item in products %}
                                                <div class="col-xl-2 col-lg-4 col-md-4 col-sm-6 col-6 ">
                                                    <div class="ps-product">
                                                        <div class="ps-product__thumbnail"><a href="{% url 'product:product_detail' item.slug %}"><img src="{{ item.image_1.url }}" alt=""></a>
                                                            <div class="ps-product__badge" style="background-color: {{ item.tag_title_color }}">{{ item.tag_title }}</div>
                                                           <ul class="ps-product__actions">
                                                                <li><a href="{% url 'cart:add_product_to_cart' item.slug %}" data-toggle="tooltip" data-placement="top" title="Add to cart"><i class="icon-bag2"></i></a></li>
                                                                <li><a href="#" data-placement="top" title="Quick View" data-toggle="modal" data-target="#{{ item.slug }}"><i class="icon-eye"></i></a></li>
                                                                <li><a href="{% url 'product:product_detail' item.slug %}" data-toggle="tooltip" data-placement="top" title=""><i class="icon-heart"></i></a></li>
                                                                <li><a href="{% url 'product:product_detail' item.slug %}" data-toggle="tooltip" data-placement="top" title=""><i class="icon-chart-bars"></i></a></li>
                                                            </ul>
                                                        </div>
                                                        <div class="ps-product__container"><a class="ps-product__vendor" href="#">{{ item.category }}</a>
                                                            <div class="ps-product__content"><a class="ps-product__title" href="{% url 'product:product_detail' item.slug %}">{{ item.name }}</a>
                                                                <p class="ps-product__price"> ₦{{ item.price }}</p>
                                                            </div>
                                                            <div class="ps-product__content hover"><a class="ps-product__title" href="{% url 'product:product_detail' item.slug %}">{{ item.name }}</a>
                                                                <p class="ps-product__price"> ₦{{ item.price }}</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                
                                              {% endfor %}
                                              
                                             {% else %}
                                                <div class="col-xl-2 col-lg-4 col-md-4 col-sm-6 col-6 ">
                                                    <p>Sorry, Nothing Yet!</p>
                                                </div>
                                            {% endif %}

                                    </div>
                                </div>
                            </div>
                            <div class="ps-tab" id="tab-2">
                                <div class="container ps-shopping-product">
                                    {% if products %}
                                            {% for item in products %}
                                                <div class="ps-product ps-product--wide">
                                                    <div class="ps-product__thumbnail"><a href="{% url 'product:product_detail' item.slug %}"><img src="{{ item.image_1.url }}" alt=""></a>
                                                    </div>
                                                    <div class="ps-product__container">
                                                        <div class="ps-product__content"><a class="ps-product__title" href="{% url 'product:product_detail' item.slug %}">{{ item.name }}</a>
                                                            <p class="ps-product__vendor">Category: <a href="#"> {{ item.category }}</a></p>
                                                            <ul class="ps-product__desc">
                                                                <li>{{ item.description }}</li>
                                                                <li>{{ item.specification }}</li>
                                                            </ul>
                                                        </div>
                                                        <div class="ps-product__shopping">
                                                            <p class="ps-product__price"> ₦{{ item.price }}</p><a class="ps-btn" href="{% url 'cart:add_product_to_cart' item.slug %}">Add to cart</a>
                                                            <ul class="ps-product__actions">
                                                                <li><a href="#"><i class="icon-heart"></i> Wishlist</a></li>
                                                                <li><a href="#"><i class="icon-chart-bars"></i> Compare</a></li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                             {% endfor %}
                                             
                                             {% else %}
                                                <div class="ps-product ps-product--wide">
                                                    <p>Sorry, Nothing Yet!</p>
                                                </div>
                                            {% endif %}

                                </div>
                               
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="container">
        <p>Note: Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        <br />
        <br />
    </div>




<script>
$('#multi').mdbRange({
  width: '100%',
  direction: 'vertical',
  value: {
    min: 0,
    max: 100,
  },
  single: {
    active: true,
    value: {
      step: 1,
      symbol: ''
    },
    counting: false,
    countingTarget: null,
    bgThumbColor: '#4285F4',
    textThumbColor: '#fff',
    multi: {
      active: true,
      value: {
        step: 1,
        symbol: ''
      },
      counting: false,
      rangeLength: 2,
      countingTarget: null,
      bgThumbColor: '#4285F4',
      textThumbColor: '#fff'
    },
  }
});
</script>

{% endblock %}

